.item {
  border: 1px solid black;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 5px;
  display: inline-block;
}

.editableItem {
  cursor: pointer;
}

.item > * > button {
  margin-left: 5px;
  margin-right: 5px;
}